@charset "utf-8";
.c_bar_wrap{height: 36px ; margin: 0 auto; }
.c_bar { margin: 0 auto; width:960px; height: 36px; clear: both; background: url(../images/company_menu_bg.gif); overflow:hidden; }
.c_bar li { float:left; text-align:center; width:105px; height:36px; line-height:36px;font-weight: bold; font-size: 14px; border-right:1px solid #E5E5E5;}
.c_bar li a:hover{ color:#ff0000;}
.c_bar li:last-child{border-right: none}
.c_bar .cur,.c_bar .cur a{ color:#fff; }
.c_bar .red{ color:#E73827;}
.c_bar_fixed{ position:fixed; left:50%; top:0; margin-left:-480px; border-bottom:2px solid #CB3711; z-index:99999;}
.basic { width: 946px; height: auto; margin: 0 auto; border: 2px solid #CB3711; overflow: hidden; padding: 5px; margin-bottom:20px; }
.show_img { width: 300px; height: 200px; line-height: 200px; overflow: hidden; float: left; border: 1px solid #CFCFCF; }
.show_img ul { width: 300px; height: 200px; }
.show_img li { width: 300px; height: 200px; line-height: 200px; overflow: hidden; }
.show_img li img { border: none; width: 300px; height: 200px; }
.c_basic { width: 475px; float: left; margin-left: 10px; margin-right: 10px; height: 202px; }
.c_line { width: 100%; margin-top: 8px; margin-bottom: 8px; background: #DDDDDD; height: 1px; line-height: 1px; overflow: hidden; }
.c_line .cl { float: left; width: 145px; border-top: 1px solid #FA8100; }
.c_line2 { width: 100%; margin-top: 8px; margin-bottom: 8px; border-top: 1px dashed #D9C097; height: 1px; line-height: 1px; overflow: hidden; }
.c_info { background: #FEFBEC; width: 460px; height: 145px; line-height: 146px; overflow: hidden; padding: 8px; }
.c_info li { font-size: 13px; width: 460px; height: 24px; line-height: 24px; }
.c_info li a { text-decoration: none; color: #CB3711; }
.c_info li p { width: 225px; float: left; }
.c_info b { float: left; font-style: normal; color: #666; font-weight: bold; }
.c_info span { float: left; color: #CB3711; }
.c_info strong { display: block; color: #CB3711; }
.c_logo { padding: 10px; width: 123px; height: 180px; float: right; text-align: center; border: 1px solid #CFCFCF; }
.c_logo .cl_logo { width: 113px; height: 87px; padding: 2px; border: 1px solid #CFCFCF; }
.c_logo ul{ padding-top:10px;}
.c_logo ul li { width: 123px;text-align:left; line-height:24px; color:#666; padding-left:5px;}
.c_logo ul li  span{ color:#CB3711; padding-left:10px;}
.company_bar { width: 960px; margin: 0 auto; height: 42px; padding-top: 15px; padding-bottom: 15px; text-align: center; }
.company_context { width: 958px; height: auto; margin: 0 auto; border: 1px solid #CCC; margin-bottom: 15px; overflow:hidden; zoom:1; }
.company_photo { padding-left: 2px; width: 940px; height: auto; }
.company_photo li { width: 287px; height: 190px; border: 1px solid #CCC; padding: 8px; float: left; margin: 5px; }
.company_photo li img { width: 287px; height: 190px; }
.context_left { padding: 8px; width: 701px; height: auto !important; float: left;  border-right: 1px solid #CCC;  }
.context_title span { display: block; float: right; padding: 12px 5px 0 0; }
.context_title h2 { background: url(../images/dot01.gif) 10px 8px no-repeat; padding: 5px 0 0 32px; font-size: 14px; font-weight: bold; color: #333; }
.context_title h1 { background: url(../images/dot01.gif) 10px 8px no-repeat; padding: 5px 0 0 32px; font-size: 14px; font-weight: bold; color: #333; }
.company_contact { width: 685px; height: auto; overflow: hidden; padding: 8px; font-size:14px; color:#333; line-height:24px; }
.company_contact dt, .company_contact dd { float: left; height: 30px; line-height: 30px; padding: 0 9px; overflow: hidden; margin-right: 2px; display: block; }
.company_contact .bg { background: #F0F0F0; }
.company_contact dt { width: 86px; font-weight: bold; }
.company_contact dd.col1 { width: 216px; }
.company_contact dd.col2 { width: 217px; }
.company_contact dd.col3 { width: 558px; }
.ccbg { background: #FEFBEC; }
.company_ok li { width: 206px; height: 138px; border: 1px solid #CCC; padding: 6px; float: left; margin: 5px; }
.company_ok li img { width: 206px; height: 138px; }
.context_right {padding: 8px; width: 224px; height: auto !important; float: right; /*padding-bottom: 100000px; margin-bottom: -100000px; */}
.context_right ul { margin-bottom: 10px; }
.right_news li { width: 214px; clear: both; height: 26px; overflow: hidden; line-height: 26px; border-bottom: 1px dashed #D9C097; background: url(../images/dot02.gif) no-repeat 0px 10px; padding-left: 10px; margin: 8px 0; }
.right_company li { height: 28px; line-height: 28px; font-family: "宋体"; position: relative; vertical-align: bottom; }
.right_company span { float: left; }
.right_company .ico img { width: 17px; height: 13px; margin: 8px 4px 0 0; }
.right_company .name { width: 120px; height: 28px; line-height: 28px; overflow: hidden; }
.right_company .name a { color: #FF4700 }
.right_company .invest { float: right; }
.right_cywd { text-align: center; margin-bottom: 10px; }
.right_cywd img { width: 220px; border: 1px solid #DDDDDD; }
.comList { width: 683px; height: auto !important; overflow: hidden; padding-bottom: 10px; border: 1px solid #DDD; margin-bottom: 10px; }
.userHead { float: left; width: 67px; height: auto; text-align: center; background: #F4F4F4; padding-bottom: 100000px; margin-bottom: -100000px; }
.userHead img { width: 46px; height: 46px; margin: 12px 0 5px 0; }
.comContent { float: left; }
.comContent .ipAdd { padding-left: 32px; height: 26px; line-height: 26px; color: #333; background: #F4F4F4 url(../images/ipt.gif) no-repeat 10px center; }
.comContent .ipAdd span { float: left; }
.comContent .ipAdd a { float: right; padding: 0px 10px 0 0; }
.userCon { width: 591px; line-height: 18px; padding: 8px; border-bottom: 1px dashed #CCC; }
.adminCon { width: 591px; height: auto !important; line-height: 18px; padding: 8px 0 8px 25px; color: #666; background: url(../images/msn.gif) 5px 8px no-repeat; }
.more2 { text-align: right; }

.rela_news{ overflow:hidden; zoom:1; font-size:12px;}
.rela_news li{ width:312px;height:30px; line-height:30px; float:left; background:url(../images/dian_hs.jpg) 0px 12px no-repeat; padding-left:10px; margin-right:20px; overflow:hidden;}