@charset "utf-8";
/* CSS Document */

* { padding: 0; margin: 0; }
html { _background: url(../css/.com/ax-public/css/about:blank); }
body { height: 100%; font-family: "宋体"; font-size: 12px; color: #000; line-height: 1.5em; }
a { color: #666; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0; }
ul, ol { list-style: none; }
h2, h3, h4 { font-size: 14px; }
input, textarea, select, font { font-size: 12px; color: #333; }
.red { color: #f00; }
.clr { height: 0; font-size: 0; clear: both; visibility: hidden; overflow: hidden; }
.line { border: 1px solid #e3e3e3; }
.more_color { color: #0d4fb1; }
.main { margin: 0 auto; width: 960px; position: relative; }
.var { margin: 0 auto; width: 960px; position: relative; }
.all { margin: 0 auto; width: 1000px; position: relative; }
.clearfix:after { display: block; font-size: 0; content: "."; clear: both; height: 0; visibility: hidden; }
/*banner start*/

.banner_1, .banner_2, .banner_3, .banner_4, .banner_5 { width: 960px; margin: 0 auto; height: auto; overflow: hidden; margin-bottom: 10px; }
.banner_2 .a1, .banner_2 .a2 { width: 477px; height: 60px; overflow: hidden; }
.banner_2 .a1 { float: left; }
.banner_2 .a2 { float: right; }
.banner_4 .a1, .banner_5 .a1 { float: left; height: 60px; margin-right: 5px; display: inline; overflow: hidden; }
.banner_4 .a2, .banner_5 .a2 { float: right; height: 60px; overflow: hidden; }
.banner_1 img { width: 960px; border: 0px; }
.banner_2 img { width: 477px; height: 60px; border: 0px; }
.banner_4 img { width: 236px; height: 60px; border: 0px; }
.banner_5 img { width: 188px; height: 60px; border: 0px; }
/*banner end*/



/*top_first start*/

.layout_menus { margin: 0px auto; width: 958px; height: 39px; border: 1px solid #cccacc; border-top: 0px; background: url(../images/menuol.jpg) left -82px repeat-x; margin-bottom: 10px; }
.layout_menus dt, .layout_menus dd { float: left; margin-left: 0; height: 39px; overflow: hidden; line-height: 39px; }
.layout_menus dd.p1 { width: 350px; }
.layout_menus dd.p2 { width: 400px; }
.layout_menus .homePage { background: url(../images/menuol.jpg) no-repeat 11px -2px; width: 88px; line-height: 100px; }
.layout_menus .webSite { background: url(../images/menuol.jpg) no-repeat 8px -43px; width: 104px; line-height: 100px; }
.layout_menus a { color: #666565; background: url(../images/menu_a_bg.gif) no-repeat right 5px; padding: 0px 10px 0px 5px; }
.layout_menus .aNone { background: none; padding-right: 0px; }
.layout_menus a.blue { color: #0d4fb1; padding-left: 10px; }
/*top_first end*/





/*top_second start*/

.menu { width: 960px; background: url(../images/top_second.jpg) top left repeat-x; margin: 0 auto; margin-bottom: 10px; }
.new_headtitle { width: 938px; height: 38px; overflow: hidden; background: url(../images/top_second_img_bg.jpg) repeat-x; border: 1px solid #bdbcbd; border-top: 0px; padding: 10px; font-size: 12px; color: #464646; }
.new_headtitle a { text-decoration: none; }
.new_head { height: 40px; float: left; position: relative; }
.new_head ul li { float: left; height: 20px; overflow: hidden; }
.new_head ul li p { margin: 0; padding: 0; }
.new_head ul li p a { height: 20px; display: block; padding-left: 6px; padding-right: 6px; text-decoration: none; color: #464646; float: left; }
.new_head.one { width: 205px; padding-left: 65px; background: url(../images/top_second_img01.jpg) no-repeat; z-index: 3; }
.new_head.two { width: 290px; padding: 0 5px 0 75px; border-right: 1px solid #ddd; background: url(../images/top_second_img02.jpg) no-repeat; z-index: 2; }
.new_head.three { width: 290px; padding-left: 0; float: right; z-index: 1; }
.position_text { width: 16px; font-size: 16px; position: absolute; font-family: "黑体"; left: 36px; top: 1px; }
.new_head .ptlt { left: 45px; }
.dingwei { position: absolute; top: 18px; left: -25px; _top: 18px; _left: -25px; z-index: 100; display: none; }
.dingwei_wenzi { width: 360px; }
.sanjiao { background: url(../images/top_second_sj.gif) no-repeat; height: 4px; width: 242px; overflow: hidden; margin-left: 0px; text-align: left; }
.dingwei_tu1 { float: left; }
.dingwei_tu3 { float: left; }
.fuzhuang_tu2 { float: left; background: url(../images/top_second_xbg.jpg); height: 56px; width: 295px; }
.fuzhuang_tu2 span { color: #c0c0c0; padding: 6px 10px; display: block; }
.fuzhuang_tu2 span a { line-height: 22px; color: #333333; padding: 6px; }
/*top_second end*/



/*logo_banner start*/

.head_1 { margin: 0 auto; width: 960px; height: 62px; overflow: hidden; margin-bottom: 10px;padding-top:10px; }
.head_1 .logo { float: left; width:200px; height:70px; overflow: hidden; margin-top:-5px; }

.head_1a { float: left; width: 110px; text-align: center; line-height: 20px; }
.head_1 h2 { font-size: 20px; height: 25px; line-height: 25px; padding-top: 8px; color: #333; }
.head_1b { float: left; width: 510px; height: 60px; overflow: hidden; }
.head_1a_commom { position: relative; float: left; width:760px; height: 60px; overflow: hidden; }
.head_1a_search { float: left; width: 90px; padding-left: 52px; text-align: center; color: #999; margin-right: 10px; background: url(../images/logo_search.jpg) no-repeat left 6px; height: 60px; overflow: hidden; }
.head_1b_search { float: left; width: 468px; height: 60px; overflow: hidden; }
.head_1c { float: right; width: 143px; height: 60px; overflow: hidden; }
.head_1c p { float: left; width: 65px; text-align: center; font-weight: bold; }
.head_1c p img { margin-bottom: 3px; }
/*logo_banner end*/


/*bar_common start*/

.head_2 { background: url(../images/common_bar.jpg) top left no-repeat; width: 960px; height: 73px; overflow: hidden; margin: 0 auto; margin-bottom: 10px; }
.head_2a { padding: 2px 0 3px; height: 32px; overflow: hidden; color: #fff; }
.head_2a a { color: #fff; }
.head_2a1 { float: left; }
.head_2a1 li { float: left; line-height: 32px; }
.head_2a1 .li1 { padding-top: 3px; font-size: 14px; width: 102px; font-weight: bold; text-align: center; float: left; line-height: 32px; }
.head_2a1 .li1 a { color: #000; padding-left: 6px; }
.head_2a1 .li2 { background: url(../images/common_line.gif) right 9px no-repeat; }
.head_2a1 .li2 a { color: #fff;  width:44px; display:inline-block; text-align:center; }
.head_2a2 { float: right; padding-top: 8px; padding-right: 5px; }
.head_2a2 a { padding-right: 9px; padding-left: 6px; float: left; height: 18px; line-height: 18px; padding: 0px 4px 0 9px; }
.head_2a2 .a1 { background: url(../images/dian_bs.gif) 0px 6px no-repeat; }
.head_2b { height: 32px; overflow: hidden; }
.head_2b1 { float: left; width:590px; line-height: 34px;padding-left:10px; }
.head_2b1 span { padding: 0px 5px 0px 10px; color: #000 }
.head_2b1 a { margin: 0 2px; color: #5e5e5e; }
.head_2b2 { float: right; width:354px; padding-top: 6px; }
/*bar_common end*/

.subList{ padding:2px 0 2px 15px;}

/*brands_commons start*/

.zmpp { width: 960px; min-height: 20px; _height: 20px; margin: 0px auto 10px auto; }
.zm_pp h5 a { text-decoration: underline; }
.zmpp .m_t { background: url(../images/brands_bar_bg.gif) top left no-repeat; height: 35px; line-height: 37px; overflow: hidden; padding-left: 35px; }
.zm_pp h5 { float: left; width: 100px; padding-left: 16px; height: 24px; line-height: 24px; background: url(../images/dian_big.gif) 0px 6px no-repeat; overflow: hidden; font-weight: normal; font-size: 12px; }
.zm_pp1 { min-height: 20px; _height: 20px; padding: 10px 0 10px 22px; border: 1px solid #dedede; }
.zm_pp2 { float: left; width: 137px; border-right: 1px dashed #d9d9d9; padding-left: 20px; height: 120px; overflow: hidden; }
.zm_pp2 strong { display: block; height: 25px; line-height: 25px; font-size: 14px; margin-bottom: 5px; }
.zm_pp2 strong a { color: #666; }
.zm_pp2 h5 { background: none; padding-left: 0px; width: 137px; height: 22px; line-height: 22px; overflow: hidden; font-weight: normal; }
.zm_pp2 h5 span { float: left; width: 68px; line-height: 22px; height: 22px; overflow: hidden; }
.zm_pp2 h5 a { padding-left: 0px; color: #666; }
.cyxmdh { margin-bottom: 10px; border: 1px solid #dedede; }
.cyxmdh h5 a, .cyxmdh span a { color: #666; text-decoration: none; }
.zm_pp .aNone { border-right: 0px; }

.zm_pp em { float: left; width: 116px; font-style:normal;  height: 24px; line-height: 24px; overflow: hidden; font-weight: normal; font-size: 12px; }

.sitemap{ width:958px; overflow:hidden; zoom:1; border: 1px solid #e6e6e6;}
.sitemap li{border-bottom: 1px dotted #d9d9d9;padding:10px 0 10px 20px;overflow:hidden; zoom:1;}
.sitemap li:last-child{ border-bottom:none;}
.sitemap .tit{ font-size:14px; font-weight:bold; color:#666; padding-bottom:5px;}
.sitemap .bd a{ float:left; height:22px; line-height:22px; margin-right:20px; color:#666;}

/*brands_commons end*/



/*friendlyLink start*/

.link { width: 956px; height: 76px; padding: 1px; border: 1px solid #d5d5d5; overflow: hidden; margin: 0 auto 10px auto; }
.link_1 { height: 65px; padding: 11px 20px 0 13px; overflow: hidden; background: #f9f7f9; }
.link_2 { background: url(../images/friendlyLink.gif) top left no-repeat; height: 24px; line-height: 24px; overflow: hidden; margin-bottom: 6px; }
.link_2 span { float: left; font-weight: bold; font-size: 12px; width: 72px; text-align: center; padding-right: 8px; }
.link_2 .link_2a { float: left; width: 840px; height: 24px; overflow: hidden; text-align: left; }
.link_2 .link_2a a { margin: 0px 8px; }
/*friendlyLink end*/

.footer_lc{width: 960px;height: 70px;background: url(../images/footer.gif);margin:0 auto;margin-bottom:10px;text-indent: -9999px;}

/*foot start*/

.footer { width: 960px; margin: 15px auto 0 auto; text-align: center; font-size: 12px; line-height: 23px; padding-bottom: 20px; color: #818181; }
.footer .hot { display: block; height: 14px; overflow: hidden; }
.footer .hot img { float: left; padding-left: 179px; }
.footer p { display: block; line-height: normal; height: 23px; overflow: hidden; }
.footer a { margin: 0 11px; color: #818181; }
.footer b a { margin: 0; }
.footer img { vertical-align: middle; }
/*foot end*/



/*404*/

.Top-main { width: 998px; border: 1px #ddd solid; margin-top: 10px; margin-bottom: 10px; overflow: hidden; }
.Top-main .Arae-m { border: 5px #EFEFEF solid; background-color: #fff; width: 988px; text-align: center; padding-bottom: 22px; overflow: hidden; }
.Arae-m .pic { margin-top: 27px; }
.Arae-m .Ts { margin-top: 19px; height: 89px; }
.Arae-m .menu { color: #fff; height: 27px; font-size: 14px; line-height: 26px; }
.Arae-m .menu { margin-top: 10px; background: url(../images/msgmenu.png) center no-repeat; }
.Arae-m .menu span { color: #f3aeae; }
.Arae-m .menu a { text-decoration: none; padding: 0px 6px 0px 5px; color: #fff; }
.Arae-m .bak { margin-top: 18px; }

.linkeList { width: 934px; padding: 6px 7px; border: 1px solid #d5d5d5; overflow: hidden; margin: 0 auto 10px auto; height: 30px; }
.linkeList a { padding: 6px 5px; line-height: 18px; float: left; text-decoration: none; }

/*右侧漂浮客服*/
.newkefu { border-bottom: #ccc 0px solid; border-left: #ccc 0px solid; background: none transparent scroll repeat 0% 0%; border-top: #ccc 0px solid; border-right: #ccc 0px solid }
#newkefu_right { width: 180px; height: auto; overflow: hidden; }
.kefu { position: fixed; text-align: center; width: 176px; overflow: hidden; right: 3px }
.newkefu_bar { float: right; margin-left: 1px; cursor: pointer }
.newkefu_group { text-align: center; width: 140px; float: right; height: auto; overflow: hidden }
.newkefu_group .shouqian_mid { padding-bottom: 5px; height: auto; overflow: hidden; padding-top: 5px; text-align: center; background-image: url(../images/1144_advert_93.jpg); background-repeat: repeat-y; }
.div-2 .div--1 { font-family: "宋体"; font-size: 14px; font-weight: bold; color: #242424; padding-left: 13px; padding-top: 5px; }
.div-2 .div--2 { font-family: "宋体"; font-size: 13px; color: #f00; padding-top: 2px; padding-bottom: 3px; font-weight: bold; }
.div-2 .div--3 { font-family: "宋体"; font-size: 14px; font-weight: bold; color: #242424; }
.div-2 .div--4 { font-size: 14px; font-weight: bold; color: #242424; padding-top: 3px; padding-bottom: 5px; font-family: "宋体"; }
.div-1 { background-image: url(../images/1145_advert_10.jpg); background-repeat: no-repeat; text-align: center; margin-left: 20px; height: 30px; padding-top: 1px; padding-bottom: 2px; }
.div-1 p { margin: 0; padding-top: 6px; padding-left: 4px; }
.div-1 p a { font-size: 12px; color: #454545; text-decoration: none; font-family: "宋体"; }
.newkefu_group .shouqian_mid ul { margin: 0px }
.newkefu_group .shouqian_mid li { list-style-type: none; margin: 5px 0px; list-style-image: none }
.newkefu_group .shouhou_mid { height: auto; overflow: hidden; padding-top: 5px; background-image: url(../images/1144_advert_93.jpg); background-repeat: repeat-y; }
.newkefu_group .shouhou_mid ul { margin: 0px }
.newkefu_group .shouhou_mid li { list-style-type: none; margin: 5px 0px; list-style-image: none }
.newkefu_group .line { text-align: left; margin: 5px 10px 0px 8px; border-top: #ccc 1px dashed }
.newkefu_group .line span { margin-top: 5px; display: block; color: #000; margin-left: 10px; font-size: 13px }
.newkefu_group .line span strong { border-bottom: medium none; padding-bottom: 0px; margin-top: 0px; color: #900; margin-left: 0px; font-size: 13px }

/*分页*/
.pages{padding:30px 0 20px 0;color:#666666;text-align:center;*zoom:1;}
.pages:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;font-size:0;}
.pages .pagination{ display:inline-block;*display:inline; *zoom:1;}
.pages li{display:inline-block; *display:inline; *zoom:1;}
.pages li a,.pages li span{display:inline-block;vertical-align:middle;margin:0 2px;padding:0 12px;height:30px;font:normal 14px/30px "\5B8B\4F53";border:1px solid #ddd;background-color:#f5f5f5; *display:inline; *zoom:1;}
.pages li a:hover{text-decoration:none;background-color:#E73727;border-color:#E73727;color:#fff;}
.pages .active span{background-color:#E73727;border-color:#E73727;color:#fff;}
.pages .disabled span{ border:none; background:#fff; padding:0;}
.pages .goto{ display:inline-block;*display:inline; *zoom:1;}


/*用户留言*/
.msg_list{ border:1px solid #D8D8D8;}
.msg_list .tit{width:23px; height:80px; float:left; background:#d60000; color:#FFF;font-weight:100; line-height:18px; font-weight:bold; text-align:center; padding-top:7px; margin-top:10px; margin-left:10px;_margin-left:5px;}
.msg_list .msg_cont{ padding:15px 10px 5px 15px; font-size:12px; }
.msg_list .bd{ height:88px; overflow:hidden;}
.msg_list .bd li { background:url(../images/msg_arr.jpg) no-repeat; padding-left:20px; height:26px; line-height:26px; overflow:hidden; zoom:1; color:#333; }
.msg_list .bd li .data{ color:#999; padding-right:8px;}
.msg_list .bd li .red{ color:#d90a02; padding:0 8px;}


.liuyan{ background:#fff; margin:0 auto; padding-top:20px; font-size:12px;}
.liuyan-title{ height:auto; color:#000000; margin:0 auto; font-size:28px; font-weight:bold; text-align:center;}
.liuyan-title strong{ color:#1B9B2F;}
.liuyan-title span{ color:#E4374A;}
.liuyan-con{  height:auto; margin:0 auto;}
.liuyan-cen{ width:360px; height:auto; float:left; }
.liuyan-cen span{ width:360px; height:37px; line-height:35px; display:block; margin-bottom:10px;}
.liuyan-cen span em{  font-style:normal; color:#333 !important; float:left; width:48px; overflow:hidden;}
.liuyan-cen span em i{ color:#E73727;font-style:normal;  padding-right:5px; vertical-align:middle}
.liuyan-cen span input{ width:292px; height:35px; border:1px solid #CCCCCC; padding-left:8px; float:left; }
.liuyan-cen span textarea{ float:right; width:292px; height:97px; border:1px solid #ccc; margin-right:8px; padding-left:8px; padding-top:9px; resize:none; float:left;}
.liu-btn{ width:300px; height:40px; margin-left:50px;}
.liu-btn input{ width:300px; height:40px; background:#E73827; border:none; border-radius:3px; font-size:14px; color:#fff; cursor:pointer;}
.liu-btn input:hover{ background:#CB2416;}
.liu-hidden{ position:relative;}
.liuyan-right{ width:300px; height:153px; background:#fff; position:absolute; left:360px; top:-93px; }
.ly-title{height:30px; background:#0080c0; line-height:30px; color:#fff; padding-left:10px;}
.liuyan-right ul{ border:1px solid #CCCCCC; border-top:none; overflow:hidden; zoom:1; padding:5px 0;}
.liuyan-right ul li{ height:32px; line-height:32px; padding-left:10px; overflow:hidden; cursor:pointer;color:#333 !important; text-align:left !important;}
.liuyan-right ul li:hover{ background:#CDCDCD;}
.liu-hidden:hover .liuyan-right{ display:block;}

/*404*/
.error404_wrapper{ position:relative; height:420px; background:#F5F5F5; padding-top:40px;}
.error404{ width:563px; height:300px; margin:0 auto; background:url(../images/404.jpg) no-repeat;}
.error404 .tip_area{ padding:280px 0 0 0; }
.error404 .btn_area{text-align:center;}
.error404 .pub_btn{display:inline-block;width:80px;height:25px;line-height:25px; background:#E73727; color:#fff;border-radius:3px;text-align:center;text-decoration:none;font-size:14px;margin-right: 6px;margin-left: 4px;font-weight:100;}
.error404 a:hover.pub_btn{ background:#CB2416;}
.error404 .tip_area p{color:#666;font:16px/24px Microsoft YaHei;padding:10px 0 10px 168px;}
.error404 .tip_area font{color:#f30;display:inline-block;float:left;font-size: 20px;margin-right: 5px;margin-left: 2px;}

.slideBox{ width:960px; height:75px; margin:0 auto; overflow:hidden; position:relative; margin-bottom:10px;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#E73827; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }

table{background:#e3e3e3; border-collapse:collapse; width:100% !important;}
table,th,td{border: 1px solid #e3e3e3;}
table th,table td{background:#fff; padding:3px 2px; line-height:2em;}
table th{background:#EDEDED; font-size:14px; color:#666; padding:0 10px; height:35px; line-height:20px;}
table td{ text-align:center; font-size:12px; color:#333; border:1px solid #D6D6D6 !important;}