@charset "utf-8";
/* 教育 */
.m_t h3, .m_t h3 a { color: #DA1E28; }
.head_2a1 .li2 { background: url(../images/jy_img02.gif) right 9px no-repeat; }
.mian_left .jmjj h4 { display: block; background: url(../images/jy_img12.jpg) top left no-repeat; }
.ph_big_ml .a2 { background: url(../images/jy_img03.gif) 0px 0px no-repeat; }
.mian_right .sech_1 { background-image: url(../images/jy_sec01.jpg); }
.mian_right .sech_2 { background: url(../images/jy_sec02.jpg) repeat-y; }
.mian_right .sech_2 .button { background: url(../images/jy_sec04.jpg) top left no-repeat; }
.mian_right .sech_3 { background-image: url(../images/jy_sec03.jpg); }
.pstj_left .m_t { background: url(../images/jy_img02.jpg) top left no-repeat; }
.hdzt .m_t { background: url(../images/jy_img13.jpg) top left no-repeat; }
.hykx .m_t { background-image: url(../images/jy_img11.jpg); }
.mmkxm .m_t { background-image: url(../images/jy_img09.jpg); }
.phb { background: url(../images/jy_img05.jpg)5px 3px no-repeat #F5F3EE; }
.tznc .ppyx { background: url(../images/jy_img08.gif) top left no-repeat; }
