@charset "utf-8";
/*全局定义*/
body { font-size:12px; font-family:tahoma, arial,"Microsoft YaHei", sans-serif; line-height:22px; margin:0; padding:0; color:#666; background:#F6F6F6;}
h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, fieldset ,legend{ margin:0; padding:0; }
h1, h2, h3, h4, h5, h6, em, i{font-style:normal;font-weight: normal;}
button, input, select, textarea { font:12px/1.5 tahoma, arial, "Microsoft YaHei", sans-serif; }
h1, h2, h3, h4, h5, h6, button, input, select, textarea { font-size:100%; }
select{ padding:2px; border:1px solid #ccc;}
ul, ol { list-style:none outside none; }
a {color:#666; text-decoration:none; }
a:hover {color:#ff6000; }
img { border:0 none; }
body, html { min-height:101%; }
.clearfix:after { display: block; font-size: 0; content: "."; clear: both; height: 0; visibility: hidden; }
/*字体颜色控制*/
.gray, a.gray{color:#333;}
.gray1, a.gray1{color:#666666 !important;}
.gray2, a.gray2{color:#A9A9A9 !important;}
a.gray2:hover{color:#FF6000  !important;}
.orange, a.orange{color:#FF6000 !important;}
.green,a.green{color:#6CC142;}
.blue, a.blue{color:#0066CC;}
a.blue:hover{ color:#f60;}
.red,a.red{color:#FF2626;}
.white, a.white{color:#fff;}

/*字体大小控制*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f19{font-size:19px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.f32{font-size:32px;}
.f34{font-size:34px;}
.f36{font-size:36px;}
.f38{font-size:38px;}
.f40{font-size:40px;}
.fl{ float:left;}
.fr{ float:right;}
.tag{display:inline-block; height:20px; line-height:20px; border:1px solid #D0D0D0; color:#999; font-size:12px; padding:0 5px; margin:0 5px 5px 0; border-radius:2px; white-space:nowrap;}
.hide { display: none;}

.user_footer { text-align: center; overflow: hidden; color: #999; padding-bottom:50px; border-top:1px solid #ddd; padding-top:20px; background:#FAFAFA;}
.user_footer a{ color:#999;}
.user_footer a:hover{ color:#f60;}

/*==========以下部分是Validform必须的===========*/
.Validform_checktip { margin-left: 8px; line-height: 20px; height: 20px; overflow:hidden; color: #999; font-size: 12px; position:relative; top:-4px; }
.Validform_right { color: #fff; padding-left: 20px; background: url(../images/right.png) no-repeat left center; }
.Validform_wrong { color: red; padding-left: 20px; white-space: nowrap; background: url(../images/error.png) no-repeat left center; }
.Validform_loading { padding-left: 20px; background: url(../images/onLoad.gif) no-repeat left center; }
.Validform_error { background-color: #fff; }
#Validform_msg { color: #7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width: 280px; box-shadow: 2px 2px 3px #aaa; background: #fff; position: absolute; top: 0px; right: 50px; z-index: 99999; display: none; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}
#Validform_msg .iframe { position: absolute; left: 0px; top: -1px; z-index: -1; }
#Validform_msg .Validform_title { line-height: 25px; height: 25px; text-align: left; font-weight: bold; padding: 0 8px; color: #fff; position: relative; background-color: #000; }
#Validform_msg a.Validform_close:link, #Validform_msg a.Validform_close:visited { line-height: 22px; position: absolute; right: 8px; top: 0px; color: #fff; text-decoration: none; }
#Validform_msg a.Validform_close:hover { color: #cc0; }
#Validform_msg .Validform_info { padding: 8px; border: 1px solid #000; border-top: none; text-align: left; }