@charset "utf-8";
/*头部*/
.user_header_wrap{ height:60px; background:#414059;}
.user_header{ width:1200px; margin:0 auto;}
.user_header .logo{float:left; padding:4px 0 0 0; margin-right:20px;}
.user_header .user_header_tit{ font-size:20px; color:#888F95; float:left; padding:20px 0 0 0;}
.user_header .user_header_r{ float:right; color:#fff; padding:18px 0 0 0;}
.user_header .user_header_r span{display:inline-block; margin:0 0 0 20px;}
.user_header .user_header_r a{ color:#fff; font-size:14px; }
.user_header .user_header_r a:hover{ text-decoration:underline;}

.user_header .upgrade_tips{ float:left; color:#FFBBBB; padding:20px 0 0 60px; font-size:14px;}

.user_main{ width:1200px; margin:0 auto; overflow:hidden; zoom:1; padding-top:16px; margin-bottom:20px;}

/*左侧导航*/
.side_nav{ width:190px; float:left;}
.side_nav .hd{ width:190px; height:80px; line-height:80px; background:url(../images/side_nav_tit_bg.jpg) no-repeat; text-align:center; font-size:24px; font-weight:bold; color:#fff;}
.side_nav .bd{ width:188px; border:1px solid #DEDEDE; border-top:none; background:#fff;}
.side_nav .bd li{height:50px; line-height:50px; font-size:14px; border-bottom:1px dotted #DDD;}
.side_nav .bd li:last-child{ border-bottom:none;}
.side_nav .bd li a{ display:block; padding-left:38px;}

.side_nav .bd li a em { width:24px; height:24px; display:inline-block; margin-bottom: 5px; background: url(../images/side_nav_icon.png) no-repeat; position:relative; top:12px; margin-right:15px;}
.side_nav .bd li .icon1 em { background-position:0 0;}
.side_nav .bd li .icon2 em { background-position:0 -48px;}
.side_nav .bd li .icon3 em { background-position:0 -96px;}
.side_nav .bd li .icon4 em { background-position:0 -144px;}
.side_nav .bd li .icon5 em { background-position:0 -192px;}
.side_nav .bd li .icon6 em { background-position:0 -240px;}

.side_nav .bd .cur a{ color:#D14545;}
.side_nav .bd .cur .icon1 em { background-position:0 -24px;}
.side_nav .bd .cur .icon2 em { background-position:0 -72px;}
.side_nav .bd .cur .icon3 em { background-position:0 -120px;}
.side_nav .bd .cur .icon4 em { background-position:0 -168px;}
.side_nav .bd .cur .icon5 em { background-position:0 -216px;}
.side_nav .bd .cur .icon6 em { background-position:0 -264px;}

/*用户右侧顶部*/
.w990{ width:990px;}
.user_r_title{height:41px; border-bottom:2px solid #D14545;}
.user_r_title .tit{ float:left; font-size:20px; line-height:30px; padding-top:2px; margin-right:30px;}
.user_r_title .add_btn{ float:left; background:url(../images/add_icon.png) no-repeat 0 3px; padding-left:18px; font-size:14px; color:#D14545; margin-top:8px; }
.user_r_title .user_path{float:right; font-size:12px; padding-top:10px; color:#999;}
.user_r_title .user_path a{color:#999;}
.user_r_title a:hover{color:#f60;}

/*用户基本资料*/
.userp_info{border:1px solid #DDD; border-top:none; background:#FDFDF2; overflow:hidden; zoom:1; margin-bottom:20px;}
.userp_info .userp_info_l { float:left;padding:27px 0 40px 27px;border-right:1px dotted #DEDEDE;width:468px;height:auto;}
.userp_info .userp_info_l .userp_info_img { border:1px solid #DFDFDE;width:120px;height:90px;float:left;}
.userp_info .userp_info_l .userp_info_div { float:left;margin-left:25px;width:240px;}
.userp_info .userp_info_l .userp_info_div .welcome{ font-size:16px; margin: 0 0 3px 0; color:#666;}
.userp_info .userp_info_l .userp_info_div .welcome .level{font-size:12px; padding:0 10px;}
.userp_info .userp_info_l .userp_info_div .welcome .up_vip{ color:#FF2626; font-size:12px; font-weight:bold;}
.userp_info .userp_info_l .userp_info_edit{clear:both;}
.userp_info .userp_info_l .userp_info_edit a{color:#0066CC;font:normal 12px/18px 微软雅黑;}
.userp_info .userp_info_l .userp_info_edit a:hover{ color:#f60;}
.skillDiv{clear:both;margin-top:6px;}
.skillDiv .skillbar {position:relative;margin-bottom:10px;width:220px;background:#EDEDED;height:10px;
	-webkit-transition:0.4s linear;-moz-transition:0.4s linear;-ms-transition:0.4s linear;-o-transition:0.4s linear;transition:0.4s linear;
	-webkit-transition-property:width, background-color;-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;-o-transition-property:width, background-color;transition-property:width, background-color;}
.skillDiv .skillbar-bar{height:10px;width:0px;background:#FF8000;float:left;}
.skillDiv .skill-bar-percent{font-size:12px; position:absolute; right:-35px; top:0; line-height:12px; color:#666;}

.userp_info .userp_info_r{ float:left; color:#666; padding:28px 0 0 30px}
.userp_info .userp_info_r .c_name{ font-size:14px;}
.userp_info .userp_info_r .c_home{ padding:5px 0;}
.userp_info .userp_info_r .c_home a{ color:#06c;}
.userp_info .userp_info_r .c_home a:hover{ color:#f60;}

/*会员升级提示*/
.user_msg{ border:1px solid #DDD; background:#fff; padding:20px 30px; margin-bottom:20px;}
.user_msg .txt1{ padding-bottom:5px;}
.user_msg .txt2{ padding-bottom:5px;}


.userp_q { border:1px solid #DDDDDD; margin-bottom:20px; overflow:hidden; zoom:1; background:#fff;}
.userp_q li{ float:left;border-right:1px dotted #DEDEDE;width:492px;padding:35px 0 20px 0;}
.userp_q li:last-child{border-right:none;}
.userp_q li a em {background:url(../images/sprite.png) no-repeat;width:66px;height:66px; display:block; overflow:hidden;margin:0 auto;}
.userp_q li .tit{ font-size:14px; padding:15px 0 15px 10px; text-align:center;}
.userp_q li .icon1 em {background-position:-334px -114px;}
.userp_q li .icon2 em {background-position:-334px -180px;}
.userp_q li .icon3 em {background-position:-334px -246px;}
.userp_q li .icon4 em {background-position:-334px -312px;}

.user_tips{border:1px solid #DDD; background:#fff; padding:20px 30px; margin-bottom:20px;}
.user_tips .txt1{ padding-bottom:5px;}

.user_box{ background:#fff; border:1px solid #ddd; border-top:none; padding:30px;}

.edit_company{ }
.edit_company .tit{ font-size:18px; color:#D14545; height:10px; border-bottom:1px solid #EEEEEE; position:relative; margin-bottom:30px;}
.edit_company .tit em{ background:#fff; padding:0 5px; position:absolute; bottom:-10px; left:10px;}
.form{}
.form .form_group{ margin-bottom:15px; font-size:14px;}
.form .form_group .form_label{ width:92px; text-align:right; padding:5px 15px 0 0; color:#999; float:left;}
.form .form_group .form_label em{ position:relative; top:3px; padding-right:5px;}
.form .form_group .form_text{background-color:#FFF;border:1px solid #ccc;color:#666; height:34px; line-height:34px; padding:0 10px; min-width:250px; float:left;}
.form .form_group .form_text_disabled{ background:#F6F6F6;}
.form .form_group .op_selsect{min-width:95px; height:34px; font-size:14px; color:#666; float:left; margin-right:7px;}
.form .form_group .Validform_checktip{ float:left; margin-top:11px; }
.form .form_group .txt{ float:left; padding:7px 0 0 10px;}
.form .form_group .fileupload{ padding:8px 0; float:left; }
.form .form_group .fileupload_img{ clear:both; padding:5px 0 0 107px;}
.form .form_group .fileupload_img li{ width:120px; height:90px; float:left; margin:0 10px 10px 0;}
.form .form_group .textarea_ready{background-color:#FFF;border:1px solid #ccc;color:#666; height:120px; line-height:22px; padding:10px; width:730px; float:left;}
.form .form_group .save_btn{ width:120px; height:36px; line-height:36px; text-align:center; font-size:14px; background:#D14545; border:none; cursor:pointer; color:#fff; border-radius:3px;}
.form .form_group .save_btn:hover{ background:#B02D2D;}
.form .form_group .form_sex{ float:left; padding-top:6px;}
.form .form_group .form_sex .form_radio{ cursor:pointer; padding-right:10px;}
.form .form_group .split_txt{ float:left; padding:5px 5px 0 5px}

/*招商项目*/
.user_table_box{ background:#fff;}
.user_table{ border-collapse:collapse; width:100%;}
.user_table thead th,.user_table tbody td{padding:10px 15px;min-height:20px;line-height:20px;border: 1px solid #DEDEDE;font-size: 14px; }
.user_table thead th{background:#F9F9F9; font-weight:bold; border-top:none; }
.user_table .w65{width:35px;}
.user_table .w530{}
.user_table .w150{width:120px;}
.user_table .w100{width:70px;}
.user_table .num{ text-align:center;}
.user_table .item_tit{ padding:10px 5px; overflow:hidden; zoom:1;}
.user_table .item_tit dt{ width:96px; height:72px; float:left; border:1px solid #E8E8E9;}
.user_table .item_tit dd{ padding-left:108px; padding-top:25px;}
.user_table .num{}
.user_table .date,.user_table .shenhe{ color:#999; text-align:center;}
.user_table .operate{ text-align:center;}
.user_table .operate a{ display:inline-block; margin:0 5px;}


.page_wrap{ background:#fff; border:1px solid #DEDEDE; border-top:none; padding:10px 0;}

/*分页*/
.page{padding:30px 0 35px 0;color:#666666;text-align:center;*zoom:1;}
.page:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;font-size:0;}
.page .pagination{ display:inline-block;*display:inline; *zoom:1;}
.page li{display:inline-block; *display:inline; *zoom:1;}
.page li a,.page li span{display:inline-block;vertical-align:middle;margin:0 2px;padding:0 12px; height:30px; line-height:30px;  font-size:14px; border:1px solid #ddd;background-color:#fff;}
.page li a:hover{text-decoration:none;background-color:#D14545;border-color:#D14545;color:#fff;}
.page .active span{background-color:#D14545;border-color:#D14545;color:#fff;}
.page .disabled span{ border:none; background:#fff; padding:0;}
.page .goto{display:inline-block;*display:inline; *zoom:1;}

/*添加项目*/
.edit_tab_wrap{ padding-left:30px; width:825px;}
.edit_tab{ border-bottom:1px solid #ddd; height:36px;}
.edit_tab li{ float:left; width:100px; height:35px; line-height:35px; border:1px solid #EEE; border-bottom:none; text-align:center; background:#F6F6F6; color:#999; margin-right:10px; cursor:pointer;}
.edit_tab .on{ background:#fff; border:1px solid #CCC; border-bottom:1px solid #fff; position:relative; height:36px; color:#666;}
.edit_tab_box{ padding:16px 0 0 0;}
.edit_tab_box .edit_tab_cont{ }
.edit_tab_box .edit_tab_cont .textarea_ready{ width:805px; height:300px;}

/*加盟问答*/
.common_tab{border-left:1px solid #ddd; zoom:1;}
.common_tab li{ float:left; width:130px; height:34px; font:normal 14px/32px 微软雅黑; border:1px solid #ddd; border-left:0; text-align:center;}
.common_tab li a{ display:inline-block; width:130px; height:34px;}
.common_tab li.on{height:35px; border-top:3px solid #D14545; position:relative; top:-3px; left:-1px; border-bottom:0;}
.common_tab li.on a{color:#333;}
.common_tab li.on a:hover{ color:#f60;}

.ask_list{}
.ask_list li{ position:relative; border-bottom:1px dotted #E0E0E0; padding:20px 0;}
.ask_list li:hover{ background-color:#F4FEF6;}
.ask_list .tit{font-size:15px; height:44px;}
.ask_list .meta_wp{ color:#999;}
.ask_list .meta_wp span{ padding-right:20px;}
.ask_list .meta_wp a{ color:#999;}
.ask_list .meta_wp a:hover{ color:#f60;}
.ask_list .ask_opt{position:absolute; top:25px; right:0;}
.ask_list .ask_btn{ width:90px; height:30px; line-height:30px; text-align:center; display:inline-block; border:1px solid #D1D1D1; background:#fff; border-radius:4px; box-shadow:0px 2px 2px rgba(0,0,0,0.14); }
.ask_list .ask_btn:hover{box-shadow:0px 2px 2px rgba(0,0,0,0.3);}
.ask_list .icon_iknow{ width:22px; height:22px; display:block; background:url(../images/sprite.png) no-repeat; margin-right:20px;}
.ask_list .i_adopt{ background-position:0 0;}
.ask_list .i_waiting{background-position:-24px 0;}

/*新闻资讯*/
.user_tab{ padding:30px 0 12px 30px; background:#fff; border:1px solid #DEDEDE; border-top:none;}
