@charset "utf-8";
/*全局定义*/
body { font-size: 13px; font-family: tahoma, arial, "Microsoft YaHei", sans-serif; line-height: 22px; margin: 0; padding: 0; color: #666; background: #fff; }
h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, fieldset, legend { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, em, i { font-style: normal; font-weight: normal; }
button, input, select, textarea { font: 12px/1.5 tahoma, arial, "Microsoft YaHei", sans-serif; }
h1, h2, h3, h4, h5, h6, button, input, select, textarea { font-size: 100%; }
select { padding: 2px; border: 1px solid #ccc; }
ul, ol { list-style: none outside none; }
a { color: #535353; text-decoration: none; }
a:hover { color: #D71318; }
img { border: 0 none; }
body, html { min-height: 101%; }
.clearfix:after { display: block; font-size: 0; content: "."; clear: both; height: 0; visibility: hidden; }
.more_txt, .more_txt a { color: #FF4C4C; }
.more_txt a:hover { color: #FE730C; text-decoration: underline; }
.green { color: #008700; }
.blue{ color:#0072ff;}
.fl { float: left; }
.fr { float: right; }
.red { color: #D71318; }
.red a:link, .red a:visited { color: #D71318; }
.red a:hover, .red a:active { color: #D71318; }
.f12{font-size:12px;}
.f14{font-size:14px;}

/*网站头部*/
.header .inner { width:1190px; margin: 0 auto; }
.header .top { height:34px; line-height:34px; background: #F8F8F8; border-bottom: 1px solid #EAEAE2; color: #666; }
.header .top .top_l { float: left; width: 300px; }
.header .top .top_l .m{background:url(../images/sprites.png) no-repeat -188px 9px; padding-left:16px; display:inline-block; margin-right:20px}
.header .top .top_l .tel{ display:inline-block;background:url(../images/sprites.png) no-repeat -186px -23px; padding-left:20px; color:#D71318;}
.header .top .top_r { float:right;}
.header .top .top_r a { display:inline-block; margin: 0 10px;}
.header .header_box_wrap { background: #fff; }
.header .header_box { width:1190px; height:110px; margin:0 auto;}
.header .header_box .logo { padding-top:16px; float:left; margin-right:50px;}

/*搜索*/
.header .header_box .search { width: 615px; float: left; margin-top: 22px; z-index: 99999; }
.header .header_box .search_box { height: 40px; z-index: 99999; position: relative; }

.header .header_box .search_box .search_input, .header .header_box .search_box .search_input1 { width: 500px; height: 38px; line-height: 38px; border: 2px solid #D71318; border-right: none; float: left; text-indent:10px; color: #999; }
.header .header_box .search_box .search_input1 { color: #333; }
.header .header_box .search_box .search_btn { width: 110px; height: 42px; line-height: 42px; text-align:center; font-size: 16px; border: none; color: #fff; background:#D71318; float: left; cursor: pointer; }
.header .header_box .search_box .search_btn:hover { background-color: #B01F24; text-decoration: none; }
.header .header_box .search_hot { color: #666; padding-top:8px; }
.header .header_box .search_hot a { margin-right:15px; }
.header .header_box .bn { float: right; width: 236px; height: 64px; margin-top: 22px; overflow:hidden; }
.bn { width:236px; height:64px; overflow:hidden; }
.bn .hd { width: 16px; height: 64px; overflow: hidden; float: right; }
.bn .hd ul { overflow: hidden; zoom: 1; float: left; }
.bn .hd ul li { float: left; margin-bottom: 5px; width: 16px; height: 16px; line-height: 14px; text-align: center; background: #EFEFEF; cursor: pointer; }
.bn .hd ul li.on { background: #FFB015; color: #fff; }
.bn .bd { width: 220px; float: left; position: relative; height: 100%; z-index: 0; }
.bn .bd li { zoom: 1; vertical-align: middle; }
.bn .bd img { width:220px; height:64px; display:block;}

/*导航*/
.nav { width: 100%; height: 44px; background: #D71318; }
.nav_list { float: left; }
.nav_list li { float:left; width:120px; }
.nav_list li a { height:44px; line-height:44px; text-align: center; display: block; color: #fff; font-size: 16px; }
.nav_list li a:hover, .nav_list li.cur { background: #B01F24; text-decoration: none; color: #fff; }
.main { width:1190px; margin: 0 auto; }

.nav_cate{ float:left; width:181px; position:relative; height:44px; z-index:999999;}
.nav_cate .tit{ display:block; width:121px; height:44px; line-height:44px; padding-left:60px; background:url(../images/three.png) no-repeat #B01F24 37px 17px; font-size:16px; color:#fff;}


/*商铺首页*/

.nav_cate .LeftBox{display: none; position: absolute;top:44px;left: 0;z-index: 100;  width:179px; height:533px; padding:0; background: #f6f6f6; border:1px solid #ddd;}
.active .LeftBox,.index_hover .LeftBox{display: block;}
.nav_cate .LeftBox #ClassBox{padding-top: 4px;height: 532px;}
.nav_cate:hover .LeftBox{display: block!important;}


.nav_cate_item{ height:32px; line-height:32px;}
.nav_cate_item .nav_cate_l{ padding-left:12px; font-size:13px; transition: all 0.3s ease 0s;}
.nav_cate_item i{width:16px; height:16px; background:url(../images/cate_icon.png) no-repeat; display:inline-block;margin:9px 7px 0 0px; float:left;}
.nav_cate_item .nav_cate_l a{ display:inline-block; margin:0 4px;}
.hover .nav_cate_l{ background-color:#D71318;color:#fff; padding-left:20px;}
.hover .nav_cate_l a{ color:#fff;}
.hover .nav_cate_l a:hover{ text-decoration:underline;}
.nav_cate_item .icon1{ background-position:0 0;}
.nav_cate_item .icon2{ background-position:0 -16px;}
.nav_cate_item .icon3{ background-position:0 -32px;}
.nav_cate_item .icon4{ background-position:0 -48px;}
.nav_cate_item .icon5{ background-position:0 -64px;}
.nav_cate_item .icon6{ background-position:0 -80px;}
.nav_cate_item .icon7{ background-position:0 -96px;}
.nav_cate_item .icon8{ background-position:0 -112px;}
.nav_cate_item .icon9{ background-position:0 -128px;}
.nav_cate_item .icon10{ background-position:0 -144px;}
.nav_cate_item .icon11{ background-position:0 -160px;}
.nav_cate_item .icon12{ background-position:0 -176px;}
.nav_cate_item .icon13{ background-position:0 -192px;}
.nav_cate_item .icon14{ background-position:0 -208px;}
.nav_cate_item .icon15{ background-position:0 -224px;}
.nav_cate_item .icon16{ background-position:0 -240px;}


/*左边分类展开*/
.IndexclassBox{display:none;width:772px;height:536px; overflow: hidden;position: absolute;left: 180px;top: 0;z-index:100;}
.hover .IndexclassBox{ display:block;}
.IndexclassBox .IndexclassBox2{/*box-shadow:1px 1px 4px rgba(0,0,0,.1);*/ width:744px; height:498px; padding:20px 5px 14px 20px;border-top:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; background: #fff;margin-left: -786px;}
.IndexclassBox h3.title{line-height: 20px;color: #333; font-size:14px;}
.IndexclassBox h3.title a:hover{color: #3089e7!important;}
.IndexclassBox h3.title:before{content:''; display:inline-block; vertical-align:middle; margin-right:10px; width:5px; height:20px; background:#D71318;}
.IndexclassBox .IndexclassUl{ width:96%; margin-top:10px; font-size:14px;}
.IndexclassBox .IndexclassUl li{float:left; margin:20px 15px 0 0; padding: 0; line-height:13px;}
.IndexclassBox .IndexclassUl ul{height:116px; overflow:hidden;}
.IndexclassBox .IndexclassUl .Themefont{border-bottom: 1px solid #D71318; height:32px; line-height:32px;}

.IndexclassBox .IndexClassLeft{width:410px; border-right:1px dashed #BDBDBD;}
.IndexclassBox .IndexClassRight{width:320px; height:496px; overflow:hidden;}
.IndexclassBox .IndexClassRight .img100{ width:100%;}
.IndexclassBox .IndexClassLeft,
.IndexclassBox .IndexClassRight{margin-left: 0;}

.IndexclassBox .IndexClassRight li{padding:0 10px; overflow:hidden; border:1px solid #ddd; width:128px; height:50px; float:left; margin:15px 10px 0 0 ;}
.IndexclassBox .IndexClassRight li:hover{filter:Alpha(opacity=60); opacity:1; -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1); transform:scale(1.1);}

.step5{ width:1190px; margin:0 auto;}

/*footer*/
.footer { text-align: center; }
.footer .footer_nav { width: 900px; margin: 0 auto; text-align: center; padding: 10px 0 0 0; }
.footer .footer_nav a { display: inline-block; margin: 0 15px; }
.footer .copyright { padding: 5px 0 30px 0; }
.footer .copyright a { color: #666; }
.footer .copyright .icon_beian { vertical-align: middle; margin-right: 10px; }

/*table*/
table{background:#D71318; border-collapse:collapse; width:80% !important; margin:0 auto; min-width:540px; max-width:100% !important;}
table,th,td{border: 1px solid #D71318;}
table th,table td{background:#fff; padding:3px 2px; line-height:2em;}
table th{background:#EDEDED; font-size:14px; color:#666; padding:0 10px; height:35px; line-height:20px;}
table td{ text-align:center; font-size:12px; color:#333; border:1px solid #D71318 !important;}
